# PlatformIO
.pio/
.vscode/
lib/
include/

# Build
.build/

# OS
.DS_Store
Thumbs.db

# Docker volumes
docker/influxdb-data/
docker/grafana-data/
docker/nodered-data/
docker/mosquitto/data/
docker/mosquitto/log/

# IDE
*.swp
*.swo
*~
.idea/
